### Q.1)What are data structures, and why are they important?

In Python, data structures are used to store and organize data in a way that makes it easy to access and modify. They are crucial because they help manage data efficiently, allowing for fast data operations like searching, sorting, and manipulation, which can improve the performance of Python programs. Examples include lists, dictionaries, sets, and tuples.

### Q.2)Explain the difference between mutable and immutable data types with examples?*italicized text*

In Python, mutable data types are those that can be changed after they are created, while immutable data types cannot be altered once they're established.*italicized text*

In [3]:
#string: Strings in Python are immutable,
name = "PWSKILLS"
print(f"Before change the value : {name}")
name = "PWSKILLS ACADEMY" # we can change the value of strings
print(f"After changing the value : {name}")

Before change the value : PWSKILLS
After changing the value : PWSKILLS ACADEMY

In [4]:
# Lists are mutable
fruits = ['Mango', 'Apple', 'Cherry']
print(f"Before change the value: {fruits}")
fruits[1] = 'Banana'  # Changing 'Apple' to 'Banana'
print(f"After changing the value: {fruits}")

Before change the value : ['Mongo', 'Apple', 'Cherry']
After changing the value : ['Mongo', 'Banana', 'Cherry']

In [9]:
#Tuples are immutable
fruits=('Mango','Banana','Cherry')
print(f"Before change the value : {fruits}")
fruits['Mango'] = 'Banana' ## Changing 'Mango'' to 'Banana'
print(f"After changing the value: {fruits}") # It will throw an error, it means its immutable

Before change the value : ('Mango', 'Banana', 'Cherry')

TypeError: 'tuple' object does not support item assignment

### Q.3)What are the main differences between lists and tuples in Python?

Lists are mutable, which means you can modify their content by adding, removing, or changing items.
Tuples are immutable, meaning once they are created, their content cannot be changed. This makes tuples useful for storing data that should not be modified.

### Q.4)Describe how dictionaries store data?

Dictionaries keep data in pairs, each with a unique key linked to a value. This setup helps you find data quickly.
They use a special method to save each pair in a spot that's easy to find again, which speeds up data look-up.
You can change dictionaries by adding new pairs, removing old ones, or updating values.
Keys in dictionaries must be simple, unchangeable types like text or numbers, but the values can be any type of data.

In [11]:
# Practical example of dictionaries in Python

# Creating a dictionary with initial data
dic = {
    "name": "PWskills", # Each entry has a key (like "name") and a value ("PWskills")
    "course": "Data Science",
    "duration": "6 months"
}

# Accessing data: retrieve the value associated with the key 'name'
print("Name:", dic['name'])

'PWskills'

###  Q.5)Why might you use a set instead of a list in Python?

* Sets automatically remove duplicate items, making sure all elements are unique.
* Checking for item presence and other operations are faster in sets because of their efficient structure.
* Sets allow for mathematical operations like unions and intersections, useful for handling groups of items.
* Unlike lists, sets do not preserve the order of elements, which can be beneficial if order is not a concern.

### Q.6)What is a string in Python, and how is it different from a list?

A string in Python is a sequence of characters enclosed in quotes, used for storing text.*italicized text*

* Strings are immutable; lists are mutable.
* Strings hold characters; lists can contain any data type.
* Strings are for text; lists are for collections of items.
* Strings use a compact format; lists allow dynamic changes.

### Q.7)How do tuples ensure data integrity in Python?

Tuples ensure data integrity in Python by being immutable, meaning once created, their contents cannot be changed. This property makes them safe for storing data that must not be modified, and they can be used as keys in dictionaries, supporting consistent and reliable data handlin

### Q.8)What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores data in key-value pairs for fast access. In Python, dictionaries use hash tables to quickly find values based on their keys, making data retrieval, insertion, and deletion very efficient.

###  Q.9)Can lists contain different data types in Python?

Yes, lists in Python can contain different data types. You can mix integers, strings, other lists, dictionaries, and even functions within the same list. This flexibility allows Python lists to handle complex data structures conveniently.

### Q.10)Explain** why strings are immutable in Python?

In Python, strings are immutable to prevent accidental changes to their content, which helps avoid bugs. Other immutable objects include integers, floats, tuples, and booleans. Mutable objects can be changed, but immutable ones cannot.
* Strings are immutable to save memory by reusing them.
* Immutability ensures safety in multi-threaded environments.
* It allows strings to be used as keys in dictionaries.
Prevents accidental changes, ensuring consistency.

### Q.11)What advantages do dictionaries offer over lists for certain tasks?



* Dictionaries allow quick access to values using unique keys, making lookups faster than searching through a list.
* They store data in key-value pairs, making it easy to organize and retrieve related information.
Dictionaries can handle complex data relationships, while lists are better for simple sequences.
* Keys in dictionaries are unique, preventing duplicate entries for efficient data management.

### Q.12)Describe a scenario where using a tuple would be preferable over a list?

Using a tuple is preferable when you need to store data that should not change throughout the program.
* Use tuples for fixed data like (ID, Name, Date).
* Tuples ensure consistent data when returned from functions.
* Tuples can be used as keys in dictionaries.
Ideal for read-only data like constants.

### Q.13)How do sets handle duplicate values in Python?

Sets automatically remove duplicate values in Python. When you add items to a set, any duplicates are ignored, and only unique elements are kept.

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)

### Q. 14)How does the “in” keyword work differently for lists and dictionaries?

The **in** keyword works differently for lists and dictionaries:

    * For lists, it checks if a value exists in the list.
    * For dictionaries, it checks if a key exists in the dictionary, not the values.

In [ ]:
my_list = [1, 2, 3] # lists Example
print(2 in my_list)  # Output: True

In [12]:
my_dict = {'a': 1, 'b': 2} #Dictionaries Example
print('a' in my_dict)

True
False

### Q.15)Can you modify the elements of a tuple? Explain why or why not?

No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability ensures data integrity and makes tuples suitable for storing fixed or constant data.

### Q.16) What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary within another dictionary. It is used to represent hierarchical or grouped data where each key maps to another dictionary.

In [13]:
students = {
    "Class A": {"John": 85, "Alice": 90},
    "Class B": {"Bob": 78, "Emma": 88}
}

# Accessing nested data
print(students["Class A"]["John"])

85

### Q.17)Describe the time complexity of accessing elements in a dictionary?

The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

### Q.18)In what situations are lists preferred over dictionaries?

Lists are preferred over dictionaries in these situations:
    * When storing ordered data where sequence matters.
    * When accessing data by position (index) is needed.
    * When duplicates are allowed in the collection.
    * When memory usage should be minimal since lists use less space than dictionaries.

### Q.19)Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because they store data based on hash values, not in a specific sequence.
* This means items are not retrieved in the same order they were added.
* Data retrieval is unaffected because values are accessed using keys, not their position.
* The focus is on fast lookups, not maintaining order.

### Q.20) Explain the difference between a list and a dictionary in terms of data retrieval?

* Lists retrieve data by position (index), so you need to know the item's location.
* Dictionaries retrieve data by key, allowing for faster and more direct access.
* Lists are better for sequential or positional data.
* Dictionaries are ideal for data with unique identifiers (keys).

**# Practical Questions**

# Practical Questions

### Q.1)Write a code to create a string with your name and print it?

In [14]:
your_name = "Kalpana"
print(your_name)

Kalpana

### Q.2)Write a code to find the length of the string "Hello World"?

In [15]:
len('Hello World')

11

### Q.3)Write a code to slice the first 3 characters from the string "Python Programming"?

In [25]:
course = "python programming"
print(f"sliced text : {course[:3]}")

sliced text : pyt

### Q.4)Write a code to convert the string "hello" to uppercase?

In [27]:
str = "hello"
print(f"Uppercase string : {str.upper()}")

Uppercase string : HELLO

### Q.5)Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [30]:
str = "I like apple"
print (str.replace('apple', 'orange '))

I like orange

### Q.6) Write a code to create a list with numbers 1 to 5 and print it?

In [33]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

### Q.7)Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [50]:
list=[1,2,3,4]
print(f"List before append : {list}")
list.append(10)
print(f"List after append : {list}")

List before append : [1, 2, 3, 4]
List after append : [1, 2, 3, 4, 10]

### Q.8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [51]:
list = [1,2,3,4,5]
list.remove(3) # remove the value three using remove function
print(list)

[1, 2, 4, 5]

### Q.9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [54]:
number = ['a', 'b', 'c', 'd']
print(f"The second element in the list : {number[1]}")

The second element of the list : b

*italicized text*# New Section

### Q.10)Write a code to reverse the list [10, 20, 30, 40, 50]?

In [63]:
list = [10,20,30,40,50]
print(f"Reverse list : {list[::-1]}")

Reverse list : [50, 40, 30, 20, 10]

### Q.11)Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [65]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

### Q.12) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [66]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

### Q.13) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

In [67]:
number = (1,2,3,2,4,2)
number.count(2)

3

### Q.14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [70]:
animal = ('dog', 'cat', 'rabbit')
animal.index('cat')

1

### Q.15) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [76]:
fruits = ('apple', 'orange', 'banana')
is_banana_available = 'banana' in fruits
print(is_banana_available)

True

### Q.16) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [77]:
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

### Q.17) Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [101]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

### Q.18)Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [102]:
my_tuple = ( 10,20,30)
print(my_tuple)

(10, 20, 30)

### Q.19) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [1]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

### Q.20)Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

```
# This is formatted as code
```

In [2]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

### Q.21)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [3]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

### Q.22)Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [4]:
my_tuple = ('apple', 'orange', 'banana')
print("banana" in my_tuple)

True

### Q.23) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [9]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

### Q.24)Write a code to add the element 6 to the set {1, 2, 3, 4}

In [12]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}